@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lilita+One&family=Tiny5&display=swap');

:root{
  background-color:rgb(41, 45, 62);
  font-family: "Gamja Flower", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chooseImg{
  width: 700px;
  padding: 20px;

}

#freedom{
  width: 700px;
  padding: 20px;

}

#header{
  color:rgb(255, 86, 111);
  background-color: rgb(33, 35, 46);
  padding: 10px;
  margin: 0px;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-size: 50px;
}

button{
  font-family: "Gamja Flower", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  font-size: 20px;
  width: 120px;
  height: 120px;
}

.title{
  font-family: "Cute Font", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 75px;
  padding: 15px;
  color: rgb(179, 135, 229);

}

.subtitle{
  font-family: "Gamja Flower", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  color: rgb(126, 170, 223);
  text-align: center;
}

.subtitle2{
  font-family: "Gamja Flower", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: rgb(172, 232, 140);
  text-align: center;
}
.subtitle3{
  font-family: "Gamja Flower", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: rgb(255, 86, 111);
  text-align: center;
}

#computer{
  font-family: "Gamja Flower", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: rgb(248, 200, 106);
  text-align: center;
}


.home_container{
  display: flex;
  justify-content: center;
}

.game-button{
  margin-left: 24px;
  border-radius: 20px;


}

.rock-button{
  font-size: 50px;
  margin: 20px;
  margin-top: 0px;
  border-radius: 20px;

}

.rock-button:hover{
  background-color: rgb(221, 221, 221);
}

.rock-button:active{
  background-color: rgb(192, 192, 192);
}

.center-buttons{
  text-align: center;
}


img{
  border-radius: 30px;
}

#game-button1{
  background-color: rgb(255, 86, 111);
}

#game-button2{
  background-color: rgb(179, 135, 229);
}

#game-button3{
  background-color: rgb(172, 232, 140);
}

#game-button4{
  background-color: rgb(248, 200, 106);
}

#game-button5{
  background-color: rgb(126, 170, 223);
}

#game-button5:hover{
  background-color: rgb(99, 134, 176);
}
#game-button5:active{
  background-color: rgb(76, 103, 136);
}
#game-button4:hover{
  background-color: rgb(204, 166, 89);
}
#game-button4:active{
  background-color: rgb(170, 138, 74);
}
#game-button3:hover{
  background-color: rgb(148, 200, 120);
}
#game-button3:active{
  background-color: rgb(126, 171, 101);
}
#game-button2:hover{
  background-color: rgb(157, 119, 200);
}
#game-button2:active{
  background-color: rgb(138, 104, 178);
}
#game-button1:hover {
  background-color: rgb(220, 79, 100);
}
#game-button1:active {
  background-color: rgb(196, 69, 88);
}

#GoHome {
  text-align: center;
  border-radius: 40px;
  width: 300px;
  font-size: 35px;
  height: 90px;
  background-color: rgb(179, 135, 229);
}

a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none;
}

.difference{
  font-size: 30px;
  text-align: center;
  width: 1000px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

p{
 color: aliceblue ;
 font-size: 30px;
 text-align: center;
 padding-left: 20px;
 padding-right: 20px;

}

.goodDescision{
  font-size: 50px;
  text-align: center;
  color: rgb(126, 170, 223);
}

.badDescision {
  font-size: 50px;
  text-align: center;
  color: rgb(255, 86, 111);
}


.chooseButton1{
  background-color: rgb(255, 86, 111);
  height: auto;
  width: auto;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
  border-radius: 30px;
  margin: 20px;
}

.chooseButton2{
  background-color: rgb(179, 135, 229);
  height: auto;
  width: auto;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
  border-radius: 30px;
  margin: 20px;
}

.chooseButton3 {
  background-color: rgb(172, 232, 140);
  height: auto;
  width: auto;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
  border-radius: 30px;
  margin: 20px;
}

.chooseButton4 {
  background-color: rgb(248, 200, 106);
  height: auto;
  width: auto;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
  border-radius: 30px;
  margin: 20px;
}

.chooseButton5 {
  background-color: rgb(126, 170, 223);
  height: auto;
  width: auto;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
  border-radius: 30px;
  margin: 20px;
  
}

.buttonsContainer{
  display:flex;
  justify-content: space-evenly;
}

.right {
  margin: auto;
}
